body{
  background-color: black

}

}

h1 {
  Color: white;
  text-align: center;

}

body{
color: white
}


.center{
  text-align: center;
}

head {
  background-color: blue
}
 .example {
   background-color: white;
   color:black;
 }
